.movie-card {
    cursor: pointer;
    padding-right: 16px;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 24px;
    border-radius: 8px;
}


.movie-card .movie-card-title {
    color: #fff;
    color: "white";
    padding: "24px";
    text-decoration: "none";
}