.sidebar ul {
  margin: 45px;
}

.sidebar li {
  list-style: none;
  padding: 6px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.sidebar li:hover {
  cursor: pointer;
}

.sidebar-avatar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.sidebar-avatar img {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

/* .btn2 {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  color: #0a0a0a;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  position: relative;
 
  border-radius: 20px;
} */
/* .btn2:hover {
  background-color: #0fd959;
} */
.icon-with-text {
  display: flex;
  align-items: center;
}

.icon-with-text svg {
  margin-right: 15px;
}
/* SideBar.css */

/* ... (other CSS styles) */

.icon-with-text {
  display: flex;
  align-items: center;
}

.icon-with-text svg {
  margin-right: 15px;
}

/* Add this CSS block to change the text color to red (#ff0000) when hovering over the icon-with-text */
.icon-with-text:hover {
  color: #4290c0; /* Change the color to your preferred hover text color (red in this case) */
}
.btn2 {
  font-size: 14px; /* Adjust the font size for the button */
  padding: 5px 20px; /* Adjust the padding to make the button smaller */
  margin-top: 15px; /* Add some spacing between the last list item and the button */
  background-color: #423f3f; /* Change the button background color to your preferred color */
  color: #fff; /* Change the button text color to white */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.btn2:hover {
  color: #e13a24;
}
