.sidebar ul {
    margin: 40px 50px;
    
}

.sidebar li {
    list-style: none;
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.sidebar li i {
    margin-right: 10px;
}

.sidebar li:hover {
    background-color: #0fd959;
    cursor: pointer;
}

.btn2 {
    font-weight: bold;
    font-size: 1em;

    text-decoration: none;
    color: #2a8b15;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    position: relative;
    border: 3px solid #a25e5e;
    border-radius: 20px;
}