* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #212529;
  color: #fff;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.app {
  display: flex;
}

.sidebar-wrapper {
  width: 300px;
  background: yellow;
  height: 100vh;
}

.main-content {
  width: calc(100% - 300px);
}