* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #212529;
  color: #fff;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.app {
  display: flex;
}

.sidebar-wrapper {
  width: 200px;
  background: rgb(6, 6, 6);
  height: 100vh;
}

.main-content {
  width: calc(100% - 200px);
}